@import "tailwindcss";

@theme {
  /* Konfigurasi Warna Kustom Anda */
  --color-library-dark: #0F2D52;    /* Biru Tua */
  --color-library-primary: #3A7BFF; /* Biru Muda */
  --color-library-light: #F5F7FA;   /* Abu-Abu Muda */
  --color-library-gold: #D4A017;    /* Emas */

  /* Konfigurasi Font Kustom (Poppins) */
  --font-sans: "Poppins", "sans-serif";

  /* Konfigurasi Radius Kustom */
  --radius-library: 14px;
}